/*
 * All of the styles in this file are configurable!
 */

.LineProgressBar {
  width: 100%;
  vertical-align: middle;
  padding-top: 10%;

  font-family: 'Calibri';
  font-style: normal;
  font-size: 100;
  text-align: center;
  letter-spacing: -0.2px;

  /* Grayscale/White */

  background: #ffffff;
  /* Card Shadow */

  box-shadow: 0px 0px 8px 2px rgba(64, 91, 106, 0.1);
  border-radius: 4px;
}

.LineProgressBar .LineProgressBar-title {
  text-anchor: middle;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  fill: #121b21;
}

.LineProgressBar .LineProgressBar-content {
  text-anchor: middle;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  fill: #121b21;
}

.LineProgressBar .LineProgressBar-path {
  stroke: #82c341;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.LineProgressBar .LineProgressBar-trail {
  stroke: #d6d6d6;
  stroke-linecap: round;
}

.LineProgressBar .LineProgressBar-background {
  fill: #d6d6d6;
}
